td.month_past_weekday { color:#C0C0C0; } 
td.month_weekday { color:#000000; }
td.month_holiday { color:#FF0000; }

td.week_past_weekday { color:#C0C0C0; } 
td.week_weekday { color:#000000; }
td.week_holiday { color:#FF0000; }