
<!--###LISTWRAP###-->
<table border=0>
###LIST###
</table>
<!--###LISTWRAP###-->

<!--###ROW###-->
<tr valign=top>
<td nowrap>###TITLE###<br>
###DURATION###<br>
###DESCRIPTION###</td>
<td valign=top>###IMAGE###</td>
<td>###DETAIL_LINK###</td>
</tr><tr><td>###FE_EDIT###</td></tr>
</tr>
<!--###ROW###-->

<!--###DETAIL###-->
###TITLE###<br>
###DURATION###<br>
###DESCRIPTION###<br><br>
Kategorie: ###CATEGORY###<br>
Organisator: ###ORGANIZER###<br>
Zielgruppe: ###TARGETGROUP###<br>
Veranstaltungsort: ###LOCATION###<br>
<!--###DETAIL###-->
