
<!--###LISTWRAP###-->
<table border=0>
###LIST###
</table>
<!--###LISTWRAP###-->

<!--###ROW###-->
<tr valign=top>
<td nowrap><a href="###DETAIL_LINK###">###TITLE###</a><br>
###DURATION###<br>
###DESCRIPTION###</td>
<td valign=top>###IMAGE###</td>
<td><a href="###DETAIL_LINK###">mehr</a></td>
</tr>
<!--###ROW###-->

<!--###DETAIL###-->
<a href="###DETAIL_LINK###">###TITLE###</a><br>
###DURATION###<br>
###DESCRIPTION###<br><br>
Kategorie: ###CATEGORY###<br>
Organisator: ###ORGANIZER###<br>
Zielgruppe: ###TARGETGROUP###<br>
Veranstaltungsort: ###LOCATION###<br>
<!--###DETAIL###-->
